<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/about.css">
    <title>Document</title>
</head>
<body>

   <div class="container">
    <header>

        <a href="#" class="logo">Smart<span>Study</span></a>

        <div id="menu" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="/price">About</a>
            <a href="#course">course</a>
            <a href="#teacher">teacher</a>
            <a href="/login">login</a>
        </nav>
        <!-- <nav class="navbar">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">course</a></li>
                <li><a href="">teacher</a></li>
                <li><a href="">login</a></li>
            </ul>
        </nav> -->

    </header>


    <section class="home">
    
        <div class="content">
            <h3>About</h3>
            <p>Nous proposons de nombreux cours en ligne dispensés par les meilleurs coachs
                pour toi. Améliorez vos compétences avec nous.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Cupiditate debitis nesciunt excepturi incidunt totam ut numquam provident 
                ea odit laudantium, at praesentium, commodi assumenda exercitationem voluptas ad quam sunt consequuntur?
            </p>
            <a href="#" class="btn">get started</a>
        </div>
    
        <div class="image">
            <img src="../public/Images/educ3.jpg" alt="">
        </div>

    </section>

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>A Propos de nous</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!</p>
            </div>

            <div class="box">
                <h3>Liens rapides</h3>
                <a href="#">home</a>
                <a href="#">course</a>
                <a href="#">teacher</a>
                <a href="#">price</a>
                <a href="#">review</a>
                <a href="#">contact</a>
            </div>

            <div class="box">
                <h3>Suivez-nous</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">linkedin</a>
            </div>

            <div class="box">
                <h3>contact us</h3>
            <p> <i class="fas fa-phone"></i> +255 0965432344 </p>
            <p> <i class="fas fa-envelope"></i> studysmart@gmail.com </p>
            <p> <i class="fas fa-map-marker-alt"></i>Abidjan, Côte d'Ivoire - 400104 </p>
            </div>

        </div>

        <div class="credit"> created by <span> web designer </span> | all rights reserved </div>

    </section>


   </div>
   <script src="app.js"></script>
</body>
</html>