<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../public/cours.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <header>

            <a href="#" class="logo">Smart<span>Study</span></a>
    
            <div id="menu" class="fas fa-bars"></div>
    
            <nav class="navbar">
                <a href="/">home</a>
                <a href="/price">About</a>
                <a href="#course">course</a>
                <a href="#teacher">teacher</a>
                <a href="/login">login</a>
                <i class="fa-solid fa-user"></i>
            </nav>
            <!-- <nav class="navbar">
                <ul>
                    <li><a href="">home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">course</a></li>
                    <li><a href="">teacher</a></li>
                    <li><a href="">login</a></li>
                </ul>
            </nav> -->
    
        </header>

    <section class="corps">
        
        <div class="corps1">
           
            <img src="../public/Images/corps2.jpg" alt="">
            <h1>MATIERES</h1>
            <hr>
        </div>
        
    </section>


    <section class="cours" id="course">
        <div class="card">
            <div class="card-image images1"></div>
            <h2>Francais</h2>

            <a href="">voir les manuels</a>
        </div>
        <div class="card">
            <div class="card-image images2"></div>
            <h2>Histoire Géographie</h2>

            <a href="">voir les manuels</a>
        </div>
        <div class="card">
            <div class="card-image images3"></div>
            <h2>SVT</h2>

            <a href="">voir les manuels</a>
        </div>
        <div class="card">
            <div class="card-image images4"></div>
            <h2>Physique Chimie</h2>

            <a href="">voir les manuels</a>
        </div>
        <div class="card">
            <div class="card-image images5"></div>
            <h2>Sciences et Technologie</h2>

            <a href="">voir les manuels</a>
        </div>
        <div class="card">
            <div class="card-image images6"></div>
            <h2>Mathématique</h2>

            <a href="">voir les manuels</a>
        </div>
        <div class="card">
            <div class="card-image images7"></div>
            <h2>Anglais</h2>

            <a href="">voir les manuels</a>
        </div>
        <div class="card">
            <div class="card-image images8"></div>
            <h2>Espagnol</h2>

            <a href="">voir les manuels</a>
        </div>
        <!-- <div class="card">
            <div class="card-image images4"></div>
            <h2>Allemand</h2>

            <a href="">voir les manuels</a>
        </div> -->
    </section>
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>A Propos de nous</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!</p>
            </div>

            <div class="box">
                <h3>Liens rapides</h3>
                <a href="#">home</a>
                <a href="#">course</a>
                <a href="#">teacher</a>
                <a href="#">price</a>
                <a href="#">review</a>
                <a href="#">contact</a>
            </div>

            <div class="box">
                <h3>Suivez-nous</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">linkedin</a>
            </div>

            <div class="box">
                <h3>contact us</h3>
            <p> <i class="fas fa-phone"></i> +255 0965432344 </p>
            <p> <i class="fas fa-envelope"></i> studysmart@gmail.com </p>
            <p> <i class="fas fa-map-marker-alt"></i>Abidjan, Côte d'Ivoire - 400104 </p>
            </div>

        </div>

        <div class="credit"> created by <span> web designer </span> | all rights reserved </div>

    </section>
    </div>
<script src="app.js"></script>
</body>
</html>