<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../public/style1.css">

</head>
<body>
    
<div class="container">

<header>

    <a href="#" class="logo">Smart<span>Study</span></a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="/home">home</a>
        <a href="/course">course</a>
        <a href="/teacher">teacher</a>
        <a href="/price">price</a>
        <a href="/review">review</a>
        <a href="/contact">contact</a>
    </nav>

</header>
<section class="home">
  
    
        <div class="content">
            <h3>L'apprentissage en ligne est une meilleure façon d'apprendre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Mollitia repellat aperiam libero, beatae debitis iusto quia sit aliquid placeat facilis?
                Mollitia repellat aperiam libero, beatae debitis iusto quia sit aliquid placeat facilis?
                Mollitia repellat aperiam libero, beatae debitis iusto quia sit aliquid placeat facilis?
            </p>
            <a href="#" class="btn">get started</a>
        </div>
    
        <div class="image">
            <img src="../public/Images/educ3.jpg" alt="">
        </div>
    

</section>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>A Propos de nous</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!</p>
        </div>

        <div class="box">
            <h3>Liens rapides</h3>
            <a href="#">home</a>
            <a href="#">course</a>
            <a href="#">teacher</a>
            <a href="#">price</a>
            <a href="#">review</a>
            <a href="#">contact</a>
        </div>

        <div class="box">
            <h3>Suivez-nous</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

        <div class="box">
            <h3>contact us</h3>
           <p> <i class="fas fa-phone"></i> +255 0965432344 </p>
           <p> <i class="fas fa-envelope"></i> studysmart@gmail.com </p>
           <p> <i class="fas fa-map-marker-alt"></i>Abidjan, Côte d'Ivoire - 400104 </p>
        </div>

    </div>

    <div class="credit"> created by <span> web designer </span> | all rights reserved </div>

</section>

</div>




<script src="../public/app1.js"></script>

</body>
</html>
